
service: hot-post-hub-backend


frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-northeast-2
  stage: dev
  profile: Serverless

functions:
  hello:
    handler: handler.hello
    events:
      - http:
          path: hello
          method: get

plugin:
  - serverless-plugin-typescript
